In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By

## 셀프 주유소가 정말 저렴한가? - 데이터 확보하기 위한 작업
- https://www.opinet.co.kr/
- 사이트 구조 확인
- 목표 데이터
    - 브랜드
    - 가격
    - 셀프 주유 여부
    - 위치

In [19]:
driver = webdriver.Chrome("")
url = 'https://www.opinet.co.kr/searRgSelect.do'
driver.get(url)

In [20]:
# 지역 : 시/도
sido_list_raw = driver.find_element(By.ID, "SIDO_NM0")
sido_list_raw.text

'            시/도\n            \n             \n              서울\n             \n             \n            \n             \n             \n              부산\n             \n            \n             \n             \n              대구\n             \n            \n             \n             \n              인천\n             \n            \n             \n             \n              광주\n             \n            \n             \n             \n              대전\n             \n            \n             \n             \n              울산\n             \n            \n             \n             \n              세종\n             \n            \n             \n             \n              경기\n             \n            \n             \n             \n              강원\n             \n            \n             \n             \n              충북\n             \n            \n             \n             \n              충남\n             \n            \n             \n             \n              전북\n             \n            \n             \n             \n              전남\n             \n            \n             \n             \n              경북\n             \n            \n             \n             \n              경남\n             \n            \n             \n             \n              제주\n             \n            \n           '

In [21]:
sido_list = sido_list_raw.find_elements(By.TAG_NAME, "option")
len(sido_list), sido_list[17].text

(18, '제주')

In [22]:
sido_list[1].get_attribute("value")

'서울특별시'

In [23]:
sido_names = []
for option in sido_list:
    sido_names.append(option.get_attribute("value"))
sido_names

['',
 '서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원특별자치도',
 '충청북도',
 '충청남도',
 '전북특별자치도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [24]:
sido_names = [option.get_attribute("value") for option in sido_list]
sido_names

['',
 '서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원특별자치도',
 '충청북도',
 '충청남도',
 '전북특별자치도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [25]:
sido_names = sido_names[1:]
sido_names

['서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원특별자치도',
 '충청북도',
 '충청남도',
 '전북특별자치도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [26]:
sido_list_raw.send_keys(sido_names)

In [27]:
# 구
gu_list_raw = driver.find_element(By.ID, 'SIGUNGU_NM0')
gu_list_raw.text

'            시/군/구\n            \n             \n             \n              강남구\n             \n            \n             \n             \n              강동구\n             \n            \n             \n             \n              강북구\n             \n            \n             \n             \n              강서구\n             \n            \n             \n              관악구\n             \n             \n            \n             \n             \n              광진구\n             \n            \n             \n             \n              구로구\n             \n            \n             \n             \n              금천구\n             \n            \n             \n             \n              노원구\n             \n            \n             \n             \n              도봉구\n             \n            \n             \n             \n              동대문구\n             \n            \n             \n             \n              동작구\n             \n            \n             \n             \n              마포구\n             \n            \n             \n             \n              서대문구\n             \n            \n             \n             \n              서초구\n             \n            \n             \n             \n              성동구\n             \n            \n             \n             \n              성북구\n             \n            \n             \n             \n              송파구\n             \n            \n             \n             \n              양천구\n             \n            \n             \n             \n              영등포구\n             \n            \n             \n             \n              용산구\n             \n            \n             \n             \n              은평구\n             \n            \n             \n             \n              종로구\n             \n            \n             \n             \n              중구\n             \n            \n             \n             \n              중랑구\n             \n                      \n           '

In [28]:
gu_list = gu_list_raw.find_elements(By.TAG_NAME, "option")
gu_list[1].get_attribute('value')

'강남구'

In [29]:
gu_names = [option.get_attribute('value') for option in gu_list]
len(gu_names)

26

In [30]:
gu_names = gu_names[1:]
gu_names

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

In [31]:
len(gu_names)

25

In [32]:
gu_list_raw.send_keys(gu_names[15])

In [33]:
driver.find_element(By.CSS_SELECTOR, '.btn_type6_ex_save').click()

In [34]:
import time
from tqdm import tqdm_notebook

for gu in tqdm_notebook(gu_names):
    element = driver.find_element(By.ID, 'SIGUNGU_NM0')
    element.send_keys(gu)
    time.sleep(3)

    element_get_excel = driver.find_element(By.CSS_SELECTOR, '.btn_type6_ex_save').click()
    time.sleep(3)

/var/folders/dh/7png3_mx3sx59zfgxx_r0y2r0000gn/T/ipykernel_4645/3917384741.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for gu in tqdm_notebook(gu_names):

  0%|          | 0/25 [00:00<?, ?it/s]

In [36]:
driver.quit()

## 4. 데이터 정리

In [37]:
import pandas as pd
from glob import glob

In [38]:
# 파일 목록 한번에 가져오기
glob("../data/지역_*.xls")

['../data/지역_위치별(주유소) (9).xls',
 '../data/지역_위치별(주유소) (12).xls',
 '../data/지역_위치별(주유소) (5).xls',
 '../data/지역_위치별(주유소) (24).xls',
 '../data/지역_위치별(주유소) (4).xls',
 '../data/지역_위치별(주유소) (13).xls',
 '../data/지역_위치별(주유소) (8).xls',
 '../data/지역_위치별(주유소) (3).xls',
 '../data/지역_위치별(주유소) (18).xls',
 '../data/지역_위치별(주유소) (22).xls',
 '../data/지역_위치별(주유소) (14).xls',
 '../data/지역_위치별(주유소) (15).xls',
 '../data/지역_위치별(주유소) (23).xls',
 '../data/지역_위치별(주유소) (19).xls',
 '../data/지역_위치별(주유소) (2).xls',
 '../data/지역_위치별(주유소) (20).xls',
 '../data/지역_위치별(주유소) (1).xls',
 '../data/지역_위치별(주유소) (16).xls',
 '../data/지역_위치별(주유소) (17).xls',
 '../data/지역_위치별(주유소) (21).xls',
 '../data/지역_위치별(주유소) (10).xls',
 '../data/지역_위치별(주유소).xls',
 '../data/지역_위치별(주유소) (7).xls',
 '../data/지역_위치별(주유소) (6).xls',
 '../data/지역_위치별(주유소) (11).xls']

In [39]:
# 파일명 저장
stations_files = glob("../data/지역_*.xls")
stations_files[:5]

['../data/지역_위치별(주유소) (9).xls',
 '../data/지역_위치별(주유소) (12).xls',
 '../data/지역_위치별(주유소) (5).xls',
 '../data/지역_위치별(주유소) (24).xls',
 '../data/지역_위치별(주유소) (4).xls']

In [42]:
# 하나만 읽어보기
tmp = pd.read_excel(stations_files[0], header = 2)
tmp.tail(2)

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
13,서울특별시,오복주유소,서울 도봉구 방학로 43,S-OIL,02-3494-1500,Y,2300,1763,1647,1700
14,서울특별시,HD현대오일뱅크㈜직영 영신주유소,서울 도봉구 방학로 151,HD현대오일뱅크,02-956-5152,N,2177,1767,1617,1429

In [44]:
tmp_raw = []
for file_name in stations_files:
    tmp = pd.read_excel(file_name, header = 2)
    tmp_raw.append(tmp)

In [47]:
stations_raw = pd.concat(tmp_raw)
stations_raw

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,(주)자연에너지 햇살주유소,서울 도봉구 방학로 142 (방학동),HD현대오일뱅크,02-954-4555,Y,1935,1665,1535,-
1,서울특별시,이케이에너지 주식회사,서울 도봉구 도봉로 941 (도봉동),HD현대오일뱅크,02-3494-3641,Y,-,1665,1525,-
2,서울특별시,삼미북부셀프주유소,서울 도봉구 도봉로 437 (쌍문동),SK에너지,02-992-5561,Y,-,1665,1540,-
3,서울특별시,(주)헨지스에너지 구도일주유소 도봉,서울 도봉구 도봉로 706 (방학동),S-OIL,02-3491-3454,Y,-,1665,1535,-
4,서울특별시,한이에너지(주) 쌍문주유소,서울 도봉구 도봉로 547 (쌍문동),S-OIL,02-992-0220,Y,-,1665,1535,-
...,...,...,...,...,...,...,...,...,...,...
4,서울특별시,지에스칼텍스㈜직영 남성주유소,서울 동작구 동작대로 135 (사당동),GS칼텍스,02-532-0606,Y,1949,1749,1629,-
5,서울특별시,HD현대오일뱅크㈜직영 동작주유소,서울 동작구 상도로 403 (상도동),HD현대오일뱅크,02-817-9179,N,1934,1754,1634,-
6,서울특별시,HD현대오일뱅크㈜직영 신대방셀프주유소,서울 동작구 시흥대로 616 (신대방동),HD현대오일뱅크,02-832-7926,Y,1904,1754,1584,-
7,서울특별시,매일주유소,서울 동작구 상도로 139 (상도동),S-OIL,02-817-4085,Y,-,1759,1679,1650
8,서울특별시,살피재주유소,서울 동작구 상도로 334,SK에너지,02-817-2559,N,-,1875,1735,-

In [48]:
stations_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 429 entries, 0 to 8
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      429 non-null    object
 1   상호      429 non-null    object
 2   주소      429 non-null    object
 3   상표      429 non-null    object
 4   전화번호    429 non-null    object
 5   셀프여부    429 non-null    object
 6   고급휘발유   429 non-null    object
 7   휘발유     429 non-null    object
 8   경유      429 non-null    object
 9   실내등유    429 non-null    object
dtypes: object(10)
memory usage: 36.9+ KB

In [49]:
stations = pd.DataFrame({
    "상호" : stations_raw["상호"],
    "주소" : stations_raw["주소"],
    "가격" : stations_raw["휘발유"],
    "셀프" : stations_raw["셀프여부"],
    "상표" : stations_raw["상표"]
})
stations.head()

KeyError: '가격'